*{
  background: white;
  color: black;
  }
  
  .logo {
    width: 450px;  /* Adjust size */
    height: auto;  /* Maintain aspect ratio */
    margin-left: 0px;
  }
  
  .header{
    background-color: #f3f3f8;
  }
  
  .navbar{
    background-color: #f3f3f8;
  }
  
  .container{
    background-color: #f3f3f8;
  }
  
  .homepg-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50vh;
  }
  .custom-btn {
    background-color: #004aad !important;
    border-color: #004aad !important;
    color: white !important;
  }
  
  .custom-btn:hover {
    background-color: #386195 !important; /* Slightly darker on hover */
  }
  
  .custom-btn2 {
    background-color: #00bf63 !important;
    border-color: #00bf63 !important;
    color: white !important;
  }
  
  .custom-btn2:hover {
    background-color: #327253 !important; /* Slightly darker on hover */
  }
  
  
  
  .login-form{
    display: flex;
    justify-content: left;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .m-0{
    color: #ffbd59;
    font-size: medium;
  }
  
  .bg-white{
    background-color: #f3f3f8;
  }
  
  
  .form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group{
    display: flex;
    justify-content: space-between;
  }
  
  .pform-group{
    display: flex;
    justify-content: space-between;
  }
  
  .pform-input{
      display: flex;
      justify-content: space-between;
  }
  
  .h1{
    color: #ffbd59;
    display: flex;
    justify-content: center;
  }
  
  .pbtn-primary{
    background-color: #00bf63 !important;
    border-color: #00bf63 !important;
    color: white !important;
  }
  
  .footer{
    background-color: #f3f3f8;
  }
  
  .footer p{
    background-color: #f3f3f8;
  }